{% autoescape off %}
Hi{% if user.get_full_name %} {{ user.get_full_name }}{% endif %},

We received a request to reset the password for your account ({{ user.get_username }}).

To set a new password, click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

This link will expire in 24 hours for security reasons.

If you didn't request this password reset, you can safely ignore this email. Your password will remain unchanged.

Need help? Just reply to this email and we'll assist you.

Best regards,
The {{ site_name }} Team
{% endautoescape %}
