{% extends "tabler/base.html" %}
{% load static theme_tags %}

{% block title %}Starter Page{% endblock %}

{% block extra_css %}
{% include "smallstack/pages/starter_css.html" %}
{% endblock %}

{% block breadcrumbs %}
{% breadcrumb "Home" "website:home" %}
{% breadcrumb "Starter Page" %}
{% render_tabler_breadcrumbs %}
{% endblock %}

{% block page_header %}
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">Starter Page</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% include "smallstack/pages/starter_content.html" %}
{% endblock %}

{% block extra_js %}
{% include "smallstack/pages/starter_js.html" %}
{% endblock %}
