{% extends "preview/base_preview.html" %}

{% block title %}Buttons{% endblock %}

{% block page_header %}
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="page-pretitle">Components</div>
        <h2 class="page-title">Buttons</h2>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="card-header"><h3 class="card-title">Default buttons</h3></div>
            <div class="card-body">
                <div class="btn-list">
                    <a href="#" class="btn btn-primary">Primary</a>
                    <a href="#" class="btn btn-secondary">Secondary</a>
                    <a href="#" class="btn btn-success">Success</a>
                    <a href="#" class="btn btn-warning">Warning</a>
                    <a href="#" class="btn btn-danger">Danger</a>
                    <a href="#" class="btn btn-info">Info</a>
                    <a href="#" class="btn btn-dark">Dark</a>
                    <a href="#" class="btn btn-light">Light</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header"><h3 class="card-title">Outline buttons</h3></div>
            <div class="card-body">
                <div class="btn-list">
                    <a href="#" class="btn btn-outline-primary">Primary</a>
                    <a href="#" class="btn btn-outline-secondary">Secondary</a>
                    <a href="#" class="btn btn-outline-success">Success</a>
                    <a href="#" class="btn btn-outline-warning">Warning</a>
                    <a href="#" class="btn btn-outline-danger">Danger</a>
                    <a href="#" class="btn btn-outline-info">Info</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header"><h3 class="card-title">Ghost buttons</h3></div>
            <div class="card-body">
                <div class="btn-list">
                    <a href="#" class="btn btn-ghost-primary">Primary</a>
                    <a href="#" class="btn btn-ghost-secondary">Secondary</a>
                    <a href="#" class="btn btn-ghost-success">Success</a>
                    <a href="#" class="btn btn-ghost-warning">Warning</a>
                    <a href="#" class="btn btn-ghost-danger">Danger</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header"><h3 class="card-title">Button sizes</h3></div>
            <div class="card-body">
                <div class="btn-list">
                    <a href="#" class="btn btn-primary btn-sm">Small</a>
                    <a href="#" class="btn btn-primary">Default</a>
                    <a href="#" class="btn btn-primary btn-lg">Large</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
