{% extends "tabler/base.html" %}
{% load static theme_tags %}

{% block title %}Basic Starter{% endblock %}

{% block breadcrumbs %}
{% breadcrumb "Home" "website:home" %}
{% breadcrumb "Starter" "starter" %}
{% breadcrumb "Basic" %}
{% render_tabler_breadcrumbs %}
{% endblock %}

{% block page_header %}
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">Starter</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h1>Starter</h1>
    </div>
</div>
{% endblock %}
